html
  background-color:#363636
  color: #fefefeaa

  
div, main
  border: 1px solid #cd4b05
  background-color:#cd4b0556
  margin: 1rem 0
  p,h2
    color:#2ed62e

main
  p
    color: #a52626

  .p-blue
    color: #1d6bca

li
  color: #c616c3

ol
  >li
    color: #c6ab16

a
  text-decoration: none
  padding:1rem
  border:1px solid #cd4b05
  color: #000222
  transform: .5s
  display: block
  width:150px
  text-align: center

  &:hover
    background-color:#ef5401
    color: white

.container
  background-color:#5c5957
  padding: 20px

  &-content
    color: purple

.spacing
    padding:200px

.btn
  border: 1px solid #140871
  border-radius: 5px
  padding: 20px 40px
  background-color:#127bbc
  color: #e2dcdc
  cursor: pointer
  margin:5px

  &:hover
    background-color: transparent
    color: #140871

  &-sucess
    background-color:#074e13
    border-color:#021906
    
    &:hover
      color:#021906
  
  &-danger
    background-color:#e30b0b
    border-color:#5f0505
    
    &:hover
      color:#5f0505
