//Este comentário não vai aparecer
/*Este comentário estará no CSS*/
/*!Este cometário será incluido!*/
/*Interpolação: #{50+50}*/

$bg-color: #363636;
$title-bg-color: #787171;
$main-color: #f59463;

.container {
  background-color: $bg-color;
  width: 100vw;
  height: 100vh;

  #title {
    background-color: $title-bg-color;
    color:$main-color;
    padding: 20px;
    text-align: center;
  }
}