$text-color: #29d5c1
$bg-color: #9cd529
$border: 1px solid $bg-color
  
body
  background-color: #363636
  color: #fefefeaa

h1
  color: $text-color
  border: $border

p
  color: $text-color

a
  color: $text-color

div
  $font-color: #71a610
  $border: 5px dotted $font-color

  border: $border

  p
    background-color: $bg-color
    color: $font-color


