@import 'variables'

body
  background-color: #363636
  color: #fefefeaa

h1
  color: $text-color
  border: $border

p
  color: $text-color

a
  color: $text-color

div
  $font-color: #71a610
  $border: 5px dotted $font-color

  border: $border
  padding: 0.5rem
  border-radius: 50px

  p
    background-color: $bg-color
    color: $font-color
    border-radius: 50px
    padding: 1rem


