@mixin special
  color: #ffdcdc
  background: #b44c4c
  padding: 5px
  border: 1px solid #cd1c05

  &:hover
    background-color: #01efaf
    color: #696565

@mixin green
  border-color: #41a30f
  color: #79c76b

@mixin spacing($p, $m)
  padding: $p
  margin: $m

@mixin custom-border($style, $color, $width: 1px)
  border: $width $style $color

@mixin colors($font:#d2d3d0, $bg:#28125b)
  color: $font
  background-color: $bg


