@use 'sass:color'
@use 'sass:list'
@use 'sass:map'
@use 'sass:math'

$new-color: color.adjust(#6b717f, $red:25, $blue:50, $green:50)
$background: color.scale($new-color, $lightness: -80% )
$mixBg: color.mix(#46943f, #c97e0f)
$colorDesaturate: desaturate(red,50%)

@debug color.green($new-color)
  
body
  background-color: #363636
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif

.color
  color: $new-color
  background-color: $background

.invert
  color: color.invert($new-color)
  background-color: color.invert($background)

.mix
  background-color: $mixBg
  color: $new-color

.desaturate
  color: $colorDesaturate

.lighten
  color: #952563
  background-color: white
  padding: 1rem

  &:hover
    color: lighten(#952563, 20%)
    background-color: desaturate(#952563,50% )
    cursor: pointer

$list: 10px, 20px, 30px
$list2: 40px, 50px, 60px

$list: list.append($list,40px)

@debug $list
@debug list.index($list, 40px)

@if list.index($list, 10px) == 1
  $list: list.append($list, 50px)

@debug $list

$list3: list.join($list, $list2)
@debug $list3

@debug list.length($list3)
@debug list.nth($list3, 5)

$m: ('font':300px, 'color':blue, 'bold':false)
$n: ('border': 2px solid purple, transition: 1.5s)
$x: map.merge($m,$n)

$border-title: map.get($x, 'border')
$font-title: map.get($x, 'font-size')

h1
  border: $border-title

@debug map.has-key($x, 'transition') // Verifica  a existência de uma chave


@if map.has-key($x, 'transition')
  h1
    transition: map.get($x,'transition')

$pi: math.$pi
$a: -10,2,3,8

@debug math.ceil($pi)
@debug math.floor($pi)
@debug math.max($a...)
@debug math.min($a...)
@debug math.floor(math.random() *10) // Número aleatóio de 1 a 10